#authBody {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#authForm {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
  flex-wrap: nowrap;

  margin: 0 auto 0 auto;
  padding: 25px 15px 25px 15px;
}

#formInputBlock {
  padding: 0.5em 0.25em;
}
