/* `border-transparent
hover:border-gray-200
hover:text-gray-300
border-b-2
text-sm
font-medium`; */

/* const linkStyleActive = cntl`border-ms-yellow text-gray-100 px-2 py-1 border-b-2 text-sm font-medium`; */

.navLink {
  padding-block: 1px;
  padding-inline: 3px;
  color: var(--colour-font-secondary);
}

.navLinkCurrent {
  color: var(--colour-font-highlight);
}
