.calendar {
  aspect-ratio: 1;

  width: 600px;

  display: grid;

  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.calendar__MonthYear {
  display: grid;

  padding: 0 10px;

  grid-column: 1/-1;
  grid-row: 1/2;

  justify-items: center;
  align-items: center;
}

.calendar__Days {
  display: grid;

  grid-column: 1/-1;
  grid-row: 2/3;

  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;

  justify-items: center;
  align-items: center;
}

.calendar__Dates {
  display: grid;

  grid-column: 1/-1;
  grid-row: 3/-1;

  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);

  justify-items: center;
  align-items: center;

  border: 1px dashed green;
}

.calendar__Dates__date {
  padding: 5px;
}

.calendar__Date__date--currentDay {
  background-color: cadetblue;
}
